<!-- Validation failure messages -->

<% if @event.errors.any? %>
  <% @event.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add Event</h3>
      </div>
      <div class="panel-body">
        <form action="/create_event" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for description -->
          <div class="form-group">
            <label for="description" class="col-sm-2 control-label">
              Description
            </label>
            <div class="col-sm-10">
              <textarea id="description" name="description" placeholder="Description" class="form-control" rows="3"><%= @event.description %></textarea>
            </div>
          </div>

          <!-- Label and input for event_type_id -->
          <div class="form-group">
            <label for="event_type_id" class="col-sm-2 control-label">
              Event type
            </label>
            <div class="col-sm-10">
              <%= select_tag(:event_type_id, options_from_collection_for_select(EventType.all,:id,:name, @event.event_type_id), :class=>"form-control", :include_blank=>true) %>
            </div>
          </div>

          <!-- Label and input for date -->
          <div class="form-group">
            <label for="date" class="col-sm-2 control-label">
              Date
            </label>
            <div class='col-sm-10 input-group date' id='datetimepicker3'>
              <input type='text' class="form-control" name="date" id="date"/>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>

          <!-- Label and input for time -->
          <div class="form-group">
            <label for="time" class="col-sm-2 control-label">
              Time
            </label>
           <div class='col-sm-10 input-group date' id='datetimepicker4'>
              <input type='text' class="form-control" name="time" id="time"/>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
              </span>
            </div>
          </div>

          <!-- Label and input for location_id -->
          <div class="form-group">
            <label for="location_id" class="col-sm-2 control-label">
              Location
            </label>
            <div class="col-sm-10">
              <%= select_tag(:location_id, options_from_collection_for_select(Location.all,:id,:name, @event.location_id), :class=>"form-control", :include_blank=>true) %>
            </div>
          </div>

          <!-- Label and input for group_size -->
          <div class="form-group">
            <label for="group_size" class="col-sm-2 control-label">
              Group size
            </label>
            <div class="col-sm-10">
              <input type="text" id="group_size" name="group_size" placeholder="Group size" class="form-control" value="<%= @event.group_size %>">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-success">
                Create Event
              </button>
              or
              <a href="/events">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
<script type="text/javascript">
  $(function () {
    $('#datetimepicker3').datetimepicker({
      format: 'L'
    });
    $('#datetimepicker4').datetimepicker({
      format: 'LT'
    });
  });
</script>
