<!-- Validation failure messages -->

<% if @location.errors.any? %>
<% @location.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Edit <%= @location.name %></h3>
      </div>
      <div class="panel-body">
        <form action="/update_location/<%= @location.id %>" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for name -->
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">
              Name
            </label>
            <div class="col-sm-10">
              <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @location.name %>">
            </div>
          </div>

          <!-- Label and input for description -->
          <div class="form-group">
            <label for="description" class="col-sm-2 control-label">
              Description
            </label>
            <div class="col-sm-10">
              <input type="text" id="description" name="description" placeholder="Description" class="form-control" value="<%= @location.description %>">
            </div>
          </div>

          <!-- Label and input for address -->
          <div class="form-group">
            <label for="address" class="col-sm-2 control-label">
              Address
            </label>
            <div class="col-sm-10">
              <input type="text" id="address" name="address" placeholder="Address" class="form-control" value="<%= @location.address %>">
            </div>
          </div>

          <!-- Label and input for opening_time -->
          <div class="form-group">
            <label for="opening_time" class="col-sm-2 control-label">
              Opening time
            </label>
            <div class='col-sm-10 input-group date' id='datetimepicker3'>
            <input type='text' class="form-control" name="opening_time" id="opening_time"  value="<%= @location.opening_time %>"/>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
              </span>
            </div>
          </div>

          <!-- Label and input for closing_time -->
          <div class="form-group">
            <label for="closing_time" class="col-sm-2 control-label">
              Closing time
            </label>
            <div class='col-sm-10 input-group date' id='datetimepicker4'>
            <input type='text' class="form-control" name="closing_time" id="closing_time"  value="<%= @location.closing_time %>"/>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
              </span>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-warning">
                Update Location
              </button>
              or
              <a href="/locations/<%= @location.id %>">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- End responsive panel example -->
<script type="text/javascript">
  $(function () {
    $('#datetimepicker3').datetimepicker({
      format: 'LT'
    });
    $('#datetimepicker4').datetimepicker({
      format: 'LT'
    });
  });
</script>
